<section class="container editar-pensamentos ff-inter">
  <header class="header">
      <h2>Adicione um <br> pensamento novo:</h2>
  </header>
  <form [formGroup]="formulario" *ngIf="formulario">
    <!--Inputs dos campos das tarefas-->
    <label for="task">Tarefa:</label>
    <input type="textarea" class="input" id="task" name="task" placeholder="Digite sua tarefa" formControlName="content">
    <!--Aplicando "data binding" bidirecional, para isso deve importar no arquivo app.module.ts o FormsModule-->
    <div class="mensagem_erro" *ngIf="formulario.get('content')?.errors && formulario.get('content')?.touched">
      Tarefa é obrigatório!
    </div>

    <label for="author">Responsável:</label>
    <input type="text" class="input" id="author" name="author" placeholder="Digite o responsável para a sua tarefa" formControlName="author">
    <div class="mensagem_erro"
    *ngIf="formulario.get('author')?.errors?.['required'] && formulario.get('author')?.touched">
      Autor é obrigatória!
  </div>
  <div class="mensagem_erro"
    *ngIf="formulario.get('author')?.errors?.['minlength'] && formulario.get('author')?.touched">
      Autoria precisa ter no mínimo 3 caracteres!
  </div>

    <label for="difficulty">Seleciona o nível de atenção da tarefa</label>

    <div class="container-radio">

      <!--Dificuldade 1-->
      <div class="radio-difficulty">
        <label for="difficulty1">
          <input
            type="radio"
            id="difficulty1"
            value="difficulty1"
            formControlName="difficulty"
          >
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Fácil</span>
        </label>
        Prévia:
        <div class="difficulty difficulty1 ff-roboto-mono">
          <img src="../../../../assets/imagens/modelo1.png" alt="Aspas azuis">
          <p class="conteudo">{{ formulario.get('content')?.value }}</p>
          <p class="autoria"><b>{{ formulario.get('author')?.value}}</b></p>
        </div>
      </div>

      <!--Dificuldade 2-->
      <div class="radio-difficulty">
        <label for="difficulty2">
          <input
            type="radio"
            id="difficulty2"
            value="difficulty2"
            formControlName="difficulty"
          >
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Médio</span>
        </label>
        Prévia:
        <div class="difficulty difficulty2 ff-roboto-mono">
          <img src="../../../../assets/imagens/modelo2.png" alt="Aspas azul claro">
          <p class="conteudo">{{ formulario.get('content')?.value }}</p>
          <p class="autoria"><b>{{ formulario.get('author')?.value}}</b></p>
        </div>
      </div>

      <!--Dificuldade 3-->
      <div class="radio-difficulty">
        <label for="difficulty3">
          <input
            type="radio"
            id="difficulty3"
            value="difficulty3"
            formControlName="difficulty"
          >
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Difícil</span>
        </label>
        Prévia:
        <div class="difficulty difficulty3 ff-roboto-mono">
          <img src="../../../../assets/imagens/modelo3.png" alt="Aspas verdes">
          <p class="conteudo">{{ formulario.get('content')?.value }}</p>
          <p class="autoria"><b>{{ formulario.get('author')?.value}}</b></p>
        </div>
      </div>

    </div>
    <div class="acoes">
      <button [disabled]="!formulario.valid" (click)="editarTask()" [ngClass]="habilitarBotao()">Editar</button>
      <button class="botao" (click)="cancel()">Cancelar</button>
  </div>
  </form>
</section>
