<section class="container">
  <header class="header d-flex">

    <!--Buscar task-->
    <div class="buscar-pensamentos">
      <input type="search" class="filtro" placeholder="O que você procura" autofocus [(ngModel)]="filtro" (keyup)="pesquisarTarefa()">
      <img src="../../../../assets/imagens/lupa.svg" alt="Lupa preta de pesquisa">
    </div>

    <h2 class="title ff-inter">{{ titulo }}</h2>
    <div class="botoes">
      <button (click)="recarregarComponente()" class="botao">Minhas tarefas</button>
      <button class="botao" (click)="listarFavoritos()">Meus favoritos</button>
      <button routerLink="/criarTask" class="botao">Nova tarefa</button>
    </div>

  </header>
  <!--Caso a listTask for maior que zero deve gerar a div abaixo se não, não vai gerar-->
  <div class="mural" *ngIf="listTasks.length > 0, else noTasks">

    <!--Para mostrar todas as tarefas já criadas é preciso criar uma estrutura de repetição-->
    <div *ngFor="let task of listTasks">
      <app-task-model [task]="task" [listaFavoritos]="listaFavoritos"></app-task-model>
      <!--O task vai receber a variável local task(que representa cada um dos elementos) -->
    </div>

  </div>
</section>

<app-botao-paginacao [haMaisTask]="haMaisTask" (click)="carregarTasks()">

</app-botao-paginacao>

<!--Por padrão não é renderizado-->
<ng-template #noTasks>
  <div class="ff-inter no-task">
    <p>Não há tarefas cadastradas</p>
  </div>
</ng-template>
<!-- Para criar uma estrutura de repetição é preciso usar o ngFor, nesse caso estaremos
informando que queremos iterar a lista de tasks, e que cada elemento da lista será uma
task diferente

De forma básica ele vai mostrar vários elementos com a mesma estrutura básica.
-->
